body{
    background-color: orange;
}

#header{
    text-align: center;
}

.column{
    float:left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#form-container{
    text-align: center;
}